<!-- client/show.cshtml -->
@{
    ViewData["Page"] = "Client Page";
}
<div>
    <div class="clientHead">
    <h3>@Model.FirstName @Model.LastName</h3>
    <form asp-controller="client" asp-action="destroy">
        <input type="hidden" name="clientId" value= @Model.Id>
        <button type="submit">Delete Client</button>
    </form>
    </div>

    <p>Stylist:
        @if(Model.StylistId != 0)
        {
            <a asp-controller="stylist" asp-action="show" asp-route-id=@Html.Raw(ViewBag.Stylist.Id)>@ViewBag.Stylist.FirstName @ViewBag.Stylist.LastName</a>
        }
        else
        {
            <form asp-asp-controller="client" asp-action="UpdateStylist">
                <input type="hidden" name="clientId" value= @Model.Id>
                <label for="stylistId">Assign a to Stylist</label>
                <select name="stylistId" required>
                    @foreach(Stylist stylist in ViewBag.AllStylists)
                    {
                        <option value=@stylist.Id>@stylist.FirstName @stylist.LastName</option>
                    }
                </select>
                <button type="submit">Assign Stylist</button>
            </form>
        }
    </p>
</div>

@section NavLink {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Stylist" asp-action="Index">Stylists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark new-stylist" asp-controller="Client" asp-action="Index">Clients</a>
    </li>
}