<!-- stylist/show.cshtml -->
@{
    ViewData["Page"] = @Model.FirstName + "'s Page";
}
<div>
    <div class="pageHead">
        <h3>@Model.FirstName @Model.LastName</h3>
        <div class="editButtons">
            <a class="btn btn-dark" href="/stylist/show/@Model.Id/edit">Edit Stylist</a>
            <form asp-controller="stylist" asp-action="destroy">
                <input type="hidden" name="stylistId" value= @Model.Id>
                <button class="btn btn-danger" type="submit">Delete Stylist</button>
            </form>
        </div>
    </div>

    @if(ViewBag.Clients.Count != 0)
    {
        <p>Client List:</p>
        <ul class="client-list">
        @foreach(Client client in @ViewBag.Clients)
        {
            <li><a asp-controller="client" asp-action="show" asp-route-clientId=@Html.Raw(@client.Id)>@client.FirstName @client.LastName</a></li>
        }
        </ul>
    }
    else
    {
        <p>This stylist currently has no clients</p>
    }
</div>

@section NavLink {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Stylist" asp-action="Index">Stylists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark new-stylist" asp-controller="Client" asp-action="New" asp-route-id=@Html.Raw(ViewBag.Id) >Add New Client</a>
    </li>
}
