<!-- stylist/show.cshtml -->
@{
    <!-- Layout = "~/Views/Shared/_CreateCustomer.cshtml"; -->
    ViewData["Page"] = @Model.FirstName + "'s Page";
}
<div>
    <h3>@Model.FirstName @Model.LastName</h3>
    <p>Client List:</p>
    <ul class="client-list">
    @foreach(Client client in @ViewBag.Clients)
    {
        <li><a asp-controller="client" asp-action="show" asp-route-clientId=@Html.Raw(@client.Id)>@client.FirstName @client.LastName</a></li>
    }
    </ul>

</div>

@section NavLink {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Stylist" asp-action="Index">Stylists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark new-stylist" asp-controller="Client" asp-action="New" asp-route-id=@Html.Raw(ViewBag.Id) >Add New Client</a>
    </li>
}
